.DS_Store
yaml/CANFAR/crt-base-local.yaml
yaml/CANFAR/crt-cavern-local.yaml
yaml/CANFAR/crt-posix-mapper-local.yaml
yaml/CANFAR/crt-scienceportal-local.yaml
yaml/CANFAR/crt-skaha-local.yaml
yaml/CANFAR/crt-ui-local.yaml
yaml/CANFAR/monitoring.yaml
yaml/Ceph/cluster.yaml
yaml/Ceph/common.yaml
yaml/Ceph/crds.yaml
yaml/Ceph/filesystem.yaml
yaml/Ceph/operator.yaml
yaml/Ceph/pv_cephfs_1.yaml
yaml/Ceph/pv_cephfs_2.yaml
yaml/Ceph/pvc_skaha-workload.yaml
yaml/Ceph/pvc_skaha.yaml
yaml/Ceph/storageclass_rook-cephfs.yaml
